*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    
}
.Main-Information
{   width: 100rem;
    padding-top: 17rem;
    padding-left: 5rem;
    padding-right: 43rem;
    font-size: 2rem;
    position: relative;
    margin-left: 20rem;
}
.Container
{
    width: 20rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: fixed;
    background-color: orange;
    justify-content: center;
}
.Navigation-Container a
{
    font-size: 3rem;
    text-decoration: dashed;
    border-radius: 2px;
    padding: 5px;
}
.navigation1
{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.navigation2
{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation3
{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation4
{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation5
{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Information
{
    display: flex;
    padding-left: 15rem;
    padding-top: 20rem;
    font-size: 2rem;
    margin-left: 12rem;
    margin-right: 5rem;
}
.Secciones
{
    
}
.Nombre
{
    font-size: 5rem;
}
li
{
height: 10rem;
}
h1
{
    position: relative;
    text-align: center;
}