* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: #010409;
    color: whitesmoke;
}

h2{ font-size: 2.7em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
a{ text-decoration: none;}
li{ font-size: 1.25em;}
span {font-size: 1.3em;}

button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 13px;
    border: 1px solid #0005;
    box-shadow: 2px 2px 10px rgba(26, 25, 25, 0.333);
    color: white;
    background-color: #21262d;
}

button:hover {
    background-color: #303742;
    cursor: pointer;
}

button:active{ background-color: #3c5070 ;}


.container {
    max-width: 1400px;
    margin: auto;
    background-color: #010409;

}

header {
    background-color: #161b22;
    color: rgb(218, 215, 215);
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #238636;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161b22;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;   
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    flex-direction: column;
}

header a:hover {
    color: rgb(170, 168, 168);
}

#introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.747),rgba(0, 0, 0, 0.795))
    ,url(Img/52594.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#introduction img { display: none;}

#introduction { 
    background-color: #0d1117;
    
}

#introduction p {
    font-size: 3rem;
    color: white;
}

#introduction a { color: rgb(236, 80, 59);}

.acento { color: #238636;}

#information {
    background-color: #0d1117;
    text-align: center;
    color: rgb(255, 233, 194);
}

#information .container {
    padding: 80px 0;
}

#information h2 {
    margin-top: 0px;
    color: rgb(206, 186, 150);
}

.yo{
    margin-top: 30px;
    border-radius: 50%;
    border: 2px solid #30363d;
    width: 90%;
}

#information p { padding: 32px;}

.box {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    margin: 20px;
    background-color: #30363d ;
    border-radius: 6px;
    border: 2px solid #4c5157;
}

.projects-img { display: none;}

.projects-games-img {
    padding: 30px;
    margin-top: 30px;
}

.projects-games-img img {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;   
    border: 2px solid #4c5157;
    margin: -5px;
    display: inline-block;
}

.espacio { 
    height: 40px;
    width: 100%;
    display: inline-block;
}

#skills h2 {
    display: flex;
    justify-content: center;
    color: rgb(250, 212, 142);
    font-weight: bold;
}

#skills .box {
    padding: 8px;
    color: aquamarine;
    font-weight: bold;
}

#cv1 h2{
    display: flex;
    justify-content: center;
    color: rgb(250, 212, 142);
    font-weight: bold;
}

#cv1 .box {
    padding: 8px;
    color: aqua;
    font-weight: bold;
}

#cv1 .cv-img {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cv1 .cv-download {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#cv1 img {
    width: 200px;
    margin: 1.3em 0em;
}

#contact h2 { 
    display: flex;
    justify-content: center;
    color: rgb(250, 212, 142);
    font-weight: bold;
}

#contact p {
    display: flex;
    justify-content: center;
    color: aquamarine;
    font-weight: bold;
    margin: auto;
    font-size: 0.9em;
    padding: 8px;
}

#contact .box { padding: 5px;}

#contact form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#contact textarea {
    min-height: 140px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 3px solid #2da;
    background: transparent;
    color: #fff; 
}

#contact input {
    width: 100%;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 3px solid #2da;
    background: transparent;
    color: #fff;
}

#contact textarea{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #2da;
    background: transparent;
    color: #fff;
}

#contact input:focus{
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
    border-bottom: 3px solid #5d9;
}

#contact textarea{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #2da;
    background: transparent;
    color: #fff;
}

#contact textarea:focus{
    background: linear-gradient(to bottom, transparent, #111);
    outline: none;
    border-bottom: 3px solid #5d9;
}

#contact input[type="submit"]{
    background: #3bd;
    border-bottom: none;
    padding: 12px;
}

#contact input[type="submit"]:hover{
    background: #18b;
    border-bottom: none;
    padding: 12px;
}

#contact input[type="submit"]:focus{ background: #3db;}

#contact input[type="submit"]:active{ background: linear-gradient(to bottom, #3bd, #18b);}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 50px;
    background-color: #161b22;
}

footer a{
    padding: 0px 15px;
    color: rgb(121, 112, 112);
    margin: 8px;
    padding: 1;
}

